################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/YaelMews.Model/bin/Debug/net6.0
/YaelMews.Model/obj
/YaelNews/bin/Debug/net6.0
/YaelNews/obj
/YaelNews.DAL/bin/Debug/net6.0
/YaelNews.DAL/obj
/YaelNews.Migrations/bin/Debug/net6.0
/YaelNews.Migrations/obj
/YaelNews.DbModel/bin/Debug/net6.0
/YaelNews.DbModel/obj
/YaelNews.Services/bin/Debug/net6.0
/YaelNews.Services/obj
/YaelNews.Contracts/bin/Debug/net6.0
/YaelNews.Contracts/obj
